body {
  text-align: center;
  font-size: 18px;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding-top: 0;
}

.container {
  max-width: 80%;
  margin: 50px auto;
}
.slide-item__content p,
.slide-item__content h1 {
  color: #000;

}
.swiper-item :not(:last-child) { 
  margin-inline-end: 15px;
}
.slide-item__content p {
  font-size: 15x;
  line-height: 1.5;
}
.slide-item__content img {
  border-radius: 50%;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {

  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transition-duration: 300ms;
  transform: translate3d(0px,0,0);
}
.swiper-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 99999;

}
.swiper-control .disable {
  pointer-events: none;
  opacity: 0.5;
}
.swiper-control > button {
  border: 0;
  background-color: transparent;

  
}
.swiper-item{

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}


.bullets span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bullets span:not(:last-child) {
  margin-inline-end: 10px;
}
.bullets span.active{ 
  background-color: #656060;
}
